<p style="color: green"><%= notice %></p>

<h1>Books</h1>

<div id="books">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Author</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% @books.each do |book| %>
        <tr id="<%= book.id %>">
          <td><%= book.name %></td>
          <td><%= book.author %></td>
          <td>
            <%= link_to "edit_book_#{book.id}", edit_book_path(book) %>
            <%= button_to "delete_book_#{book.id}", book, :method => :delete, form: {data: {turbo_confirm: 'Are you sure?'}} %>
            <!--<%= link_to "Show this book", book %>-->
          </td>
        </tr>
      <% end %>
    </tbody>
  <!--<% @books.each do |book| %>
    <%= render book %>
    <p>
      <%= link_to "Show this book", book %>
    </p>
  <% end %>-->
</div>

<%= link_to "Add book", new_book_path %>
